#hamnav {
  width: 100%;
  color: white;
  background-color: rgb(46, 41, 41);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#hamitems {
  display: flex;
  color: white;
  float: right;
  padding: 15px;
}

#hamnav label,
#hamburger {
  display: none;
}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding: 10px 25px;
}

#hamitems a:hover {
  background-color: rgb(80, 77, 77);
  font-weight: bold;
  border-radius: 5px;
}

.app-link {
  margin-top: 0vmin;
  padding: -1vmin;
}

.app-gecko {
  height: 6vmin;
  width: 6vmin;
  pointer-events: none;
  opacity: 0.8;
}

.app-header {
  background-color: rgb(46, 41, 41);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vmin;
  border-bottom: solid 5px rgb(109, 231, 219);
}

.app-logo {
  height: 23vmin;
  padding-bottom: 5vmin;
  margin-left: 12vmin;
  margin-bottom: 8vmin;
}

.crib_header {
  text-align: right;
  margin-right: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h3 {
  font-size: 1em;
  font-weight: lighter;
  margin-top: -1em;
}

.body {
  display: flex;
}

/* DATE and COUNTDOWN */

.countdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vmin;
  justify-content: center;
}

.date {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin-top: 1.2em;
}

.countdate {
  color: lightblue;
  margin-top: 1em;
}

.countlabel {
  color: lightblue;
  font-weight: lighter;
  font-size: 0.9em;
}

.boxes {
  display: flex;
  flex-direction: column;
}

.box1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background: rgb(88, 83, 83);
  border: solid 4px sandybrown;
  border-style: outset;
  text-align: justify;
  text-justify: distribute;
  padding: 1em 2em;
  margin: 2vmin auto;
  height: 50vh;
  width: 80vw;
}

.widget {
  padding-top: 2vmin;
}

.main {
  display: flex;
  flex-direction: row;
  color: white;
}

.arrows {
  margin: auto;
  font-size: 40px;
}

.box2,
.box3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid 3px;
  border-style: outset;
  border-color: sandybrown;
  background: rgb(88, 83, 83);
  justify-content: center;
  padding: 2em;
  margin: 3vmin 12vmin;
  overflow: scroll;
  height: 30vh;
  width: 40vw;
}

.crypto_terms {
  color: white;
  line-height: 5vmin;
}

.portfolio {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-justify: distribute;
  line-height: 3vmin;
}

#pizza {
  text-align: center;
  font-size: 5em;
}

body {
  background-color: rgb(70, 67, 67);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* QUIZ SECTION */
.quiz {
  color: white;
  border: solid 2px turquoise;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  margin: 2em 2em 2em 10em;
  padding: 1em 2em 2em;
  height: 25em;
  width: 60vw;
}

#quizBox {
  max-width: 700px;
  margin: auto;
}

.quizHeader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 2em;
}

#spanquiz {
  margin: auto;
}

#quizQn {
  padding: 20px;
  background: gainsboro;
  color: rgb(4, 156, 158);
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  border: solid 2px gray;
  border-style: inset;
}

#quizAns {
  margin: 10px 0;
  color: dimgray;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
#quizAns input[type="radio"] {
  display: none;
}

#quizAns label {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

#quizAns label.correct {
  background: rgb(45, 236, 227);
  color: darkslategrey;
  border: 1px solid #60a03f;
}

#quizAns label.wrong {
  background: maroon;
  color: black;
  border: 1px solid #c78181;
}

.quizbutton {
  text-align: center;
}

#btn {
  background: sandybrown;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 2.5em;
  height: 3em;
  width: 12em;
  border-radius: 10px;
  border: solid 2px darkturquoise;
  cursor: pointer;
}

/* FORM SECTION */
.fieldform {
  color: white;
  border: solid 2px sandybrown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  margin: 2em 16em 2em 12em;
  padding: 1em 2em 2em;
}

legend {
  font-size: 1.4em;
}

.input {
  margin: 0.5em 1em 0.5em 0;
  padding: 0.3em 0 0.3em 0.2em;
  border-radius: 5px;
}

.submit {
  margin-top: 2em;
  padding: 0.5em 2em;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
}

.footer {
  color: white;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-shrink: 0;
  margin-top: 2em;
}

/* PAGE UNDER CONSTRUCTION */

.construction {
  color: white;
  border: solid 2px turquoise;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  margin: 3em auto;
  padding: 1em 2em 2em;
  text-align: center;
  height: 20em;
  width: 40vw;
}

#constructBox {
  max-width: 700px;
  margin: 2em;
  text-align: center;
}

.constructImage {
  margin: auto;
}

.constructHeader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 24px;
  margin-bottom: 1em;
}

/* MEDIA QUERIES */

/* TABLET */

@media all and (min-width: 769px) {
  @media (prefers-reduced-motion: no-preference) {
    .app-logo {
      animation: none;
      height: 15vmin;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .box1 {
    overflow: scroll;
  }
}

/* MOBILE */

@media all and (max-width: 768px) {
  #nav {
    width: 100%;
    background-color: rgb(46, 41, 41);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  /* BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 3px;
    border-top: 1px solid white;
  }

  #hamnav label {
    display: inline-block;
    color: white;
    background-color: rgb(46, 41, 41);
    font-style: normal;
    font-size: 2em;
    padding: 10px;
  }

  #hamitems {
    display: none;
    margin-right: 2em;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vmin;
    padding-bottom: 1em;
    border-bottom: solid 5px rgb(109, 231, 219);
  }

  .app-logo {
    display: none;
  }

  .crib_header {
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-left: 2.5em;
  }

  @media (prefers-reduced-motion: no-preference) {
    .app-logo {
      animation: none;
      height: 15vmin;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .box1 {
    overflow: scroll;
    height: 30vh;
    width: 70vw;
    padding: 5vmin;
  }

  .arrows {
    display: none;
  }

  .main {
    flex-direction: column;
    height: 100vh;
    padding: 3vmin;
  }

  .box2,
  .box3 {
    width: 50vw;
  }

  .quiz {
    margin: 2em 3em;
    font-size: 1em;
  }

  #spanquiz {
    font-size: 0.9em;
  }

  .fieldbox {
    justify-content: left;
    font-size: 1.2em;
    margin: 3vmin;
  }

  .fieldform {
    font-size: 1em;
    margin: 2em 3em;
    text-align: center;
    padding: 1em 2em 2em;
  }

  .input {
    text-align: center;
  }
}
