/* nav { */
/* display: flex;
  justify-content: space-evenly; */
/* align-items: center; */
/* float: right; */
/* padding-left: 50em; */
/* background-color: rgb(46, 41, 41);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */

/* height: 8vmin;
  padding-top: 1vmin;
  overflow: hidden; */
/* } */

#hamnav {
  width: 100%;
  color: white;
  background-color: rgb(46, 41, 41);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#hamitems {
  display: flex;
  color: white;
  float: right;
  padding: 15px;
  /* display: block; */
  /* justify-content: space-evenly; */
  /* order: -1; */
  /* text-decoration: none; */
  /* font-size: 15px; */
  /* text-align: center; */
  /* padding: 10px 10px; */
}

#hamnav label,
#hamburger {
  display: none;
}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding: 10px 25px;
}

#hamitems a:hover {
  background-color: rgb(80, 77, 77);
  font-weight: bold;
  border-radius: 5px;
}

/* #hamitems a:active {
  background-color: turquoise;
} */

/* .nav_link {
  overflow: hidden;
} */

/* STICKY NAV */

/* .scrollable b {
  font-family: "Special Elite", cursive;
  font-size: 28px;
} */

.sticky {
  position: fixed;
  top: 0.5;
  /* width: 100%; */
  padding-top: 15px;
  padding-bottom: 150px;
  background-color: none;
  /* background-color: rgb(70, 67, 67); */
}

.sticky + .body {
  padding-top: 25px;
}

.app-link {
  margin-top: 0vmin;
  padding: -1vmin;
}

.app-gecko {
  height: 6vmin;
  width: 6vmin;
  /* margin-top: 1vmin; */
  pointer-events: none;
  /* padding-top: 0.5vmin; */
  opacity: 0.8;
}

.app-header {
  background-color: rgb(46, 41, 41);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vmin;
  border-bottom: solid 5px rgb(109, 231, 219);
  /* margin-top: 30vmin; */
  /* align-items: center;
  align-content: stretch; */
  /* add flex-wrap: wrap; for mobile-first */
}

.app-logo {
  /* display: flex; */
  height: 23vmin;
  padding-bottom: 5vmin;
  margin-left: 12vmin;
  margin-bottom: 8vmin;
  /* padding-top: 30px;
  padding-right: 20px; */
  /* order: -1; */
  /* pointer-events: none; */
}

.crib_header {
  text-align: right;
  margin-right: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h3 {
  font-size: 1em;
  font-weight: lighter;
  margin-top: -1em;
}

/* .nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8vmin;
  padding-left: 100vmin;
  background-color: rgb(46, 41, 41);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}

.nav a:hover {
  background-color: rgb(80, 77, 77);
  font-weight: bold;
  border-radius: 5px;
}

.nav a:active {
  background-color: turquoise;
}

.nav_link {
  overflow: hidden;
} */

/* .p_gecko {
  display: inline;
  color: white;
  padding-top: 5vmin;
} */

.body {
  display: flex;
  /* justify-content: space-between; */
}

/* DATE and COUNTDOWN */

.countdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vmin;
  justify-content: center;
}

.date {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin-top: 1.2em;
}

.countdate {
  color: lightblue;
  /* font-weight: bold; */
  margin-top: 1em;
}

.countlabel {
  color: lightblue;
  font-weight: lighter;
  font-size: 0.9em;
}

/* .boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 2em;
} */

/* .box1 {
  flex-grow: 1;
  border: solid 2px;
  border-color: sandybrown;
  justify-content: center;
  padding: 15vmin;
  margin: 2vmin;
  height: 4vh;
  width: 76vw;
} */

.box1 {
  flex-grow: 1;
  /* flex-basis: 0; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background: rgb(88, 83, 83);
  border: solid 4px;
  border-color: sandybrown;
  border-style: outset;
  justify-content: center;
  padding: 1em 2em;
  margin: 2vmin auto;
  /* margin: 2vmin; */
  /* overflow: scroll; */
  height: 45vh;
  width: 80vw;
}

.main {
  display: flex;
  flex-grow: 1;
  color: white;
}

.box2,
.box3 {
  flex-direction: row;
  /* flex-grow: 1; */
  /* flex-basis: 0; */
  border: solid 2px;
  border-color: sandybrown;
  justify-content: center;
  padding: 2em;
  margin: 3vmin 15vmin;
  overflow: scroll;
  height: 30vh;
  width: 40vw;
}

/* .box3 {
  flex-direction: row;
  border: solid 2px;
  border-color: sandybrown;
  justify-content: center;
  padding: 15vmin;
  margin: 3vmin 5vmin;
  overflow: scroll;
  height: 4vh;
  width: 40vw;
} */

.crypto_terms {
  color: white;
  line-height: 5vmin;
}

.portfolio {
  color: white;
  line-height: 3vmin;
}

body {
  background-color: rgb(70, 67, 67);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* QUIZ SECTION */
.quiz {
  color: white;
  border: solid 2px turquoise;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  margin: 2em 2em 2em 10em;
  padding: 1em 2em 2em;
  height: 25em;
  width: 60vw;
}

#quizBox {
  max-width: 700px;
  margin: auto;
}

.quizHeader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 2em;
}

#spanquiz {
  margin: auto;
}

#quizQn {
  padding: 20px;
  background: gainsboro;
  /* background: #4c93ba; */
  /* color: rgb(133, 41, 25); */
  color: rgb(4, 156, 158);
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  border: solid 2px gray;
  border-style: inset;
}

#quizAns {
  margin: 10px 0;
  color: dimgray;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
#quizAns input[type="radio"] {
  display: none;
}

#quizAns label {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

#quizAns label.correct {
  /* background: #d8ffc4; */
  background: rgb(45, 236, 227);
  color: darkslategrey;
  border: 1px solid #60a03f;
}

#quizAns label.wrong {
  /* background: #ffe8e8; */
  background: maroon;
  color: black;
  border: 1px solid #c78181;
}

.quizbutton {
  text-align: center;
}

#btn {
  background: sandybrown;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 2.5em;
  height: 3em;
  width: 12em;
  border-radius: 10px;
  border: solid 2px darkturquoise;
  cursor: pointer;
}

/* FORM SECTION */
.fieldform {
  color: white;
  border: solid 2px sandybrown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  margin: 2em 16em 2em 12em;
  /* margin: 2em 30em 2em 3em; */
  padding: 1em 2em 2em;
}

legend {
  font-size: 1.4em;
}

.input {
  margin: 0.5em 1em 0.5em 0;
  padding: 0.3em 0 0.3em 0.2em;
  border-radius: 5px;
}

.submit {
  margin-top: 2em;
  padding: 0.5em 2em;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
}

.footer {
  color: white;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-shrink: 0;
  margin-top: 2em;
}

/* PAGE UNDER CONSTRUCTION */

.construction {
  color: white;
  border: solid 2px turquoise;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  margin: 3em auto;
  padding: 1em 2em 2em;
  text-align: center;
  height: 20em;
  width: 40vw;
}

#constructBox {
  max-width: 700px;
  margin: 2em;
  text-align: center;
}

.constructImage {
  margin: auto;
}

.constructHeader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 24px;
  margin-bottom: 1em;
}

/* MEDIA QUERIES */

/* TABLET */

@media all and (min-width: 769px) {
}

/* MOBILE */

@media all and (max-width: 768px) {
  #nav {
    width: 100%;
    background-color: rgb(46, 41, 41);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 3px;
    border-top: 1px solid white;
    /* border-top: 1px solid #333; */
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: white;
    background-color: rgb(46, 41, 41);
    /* background: #a02620; */
    font-style: normal;
    font-size: 2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems {
    display: none;
    margin-right: 2em;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vmin;
    padding-bottom: 1em;
    border-bottom: solid 5px rgb(109, 231, 219);
    /* margin-top: 30vmin; */
    /* align-items: center;
    align-content: stretch; */
    /* add flex-wrap: wrap; for mobile-first */
  }

  /* .app-logo {
    height: 20vmin;
    padding-bottom: 5vmin;
    margin-left: 10vmin;
    margin-bottom: 8vmin;
  } */

  .app-logo {
    display: none;
  }

  .crib_header {
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-left: 2.5em;
    /* text-align: center; */
    /* margin-right: 2em; */
  }
  @media (prefers-reduced-motion: no-preference) {
    .app-logo {
      animation: none;
      height: 15vmin;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .coinSelect {
    font-size: 0.8em;
    margin: 1em 0.5em;
    text-align: center;
    /* height: 30em;
    width: ; */
  }

  .fieldbox {
    justify-content: left;
    font-size: 1.2em;
    margin: 3vmin;
  }

  .fieldform {
    font-size: 1em;
    margin: 2em 3em;
    text-align: center;
    padding: 1em 2em 2em;
  }

  .input {
    text-align: center;
  }

  /* #hamitems {
    display: flex;
  }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover {
    background: #401408;
  } */

  /* (C) HIDE HAMBURGER */
  /* #nav label,
  #hamburger {
    display: none;
  } */
}

/* .app-link {
  display: none;
} */
