.app-header {
  background-color: rgb(46, 41, 41);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22vmin;
  border-bottom: solid 6px rgb(109, 231, 219);
  /* margin-top: 30vmin; */
  /* align-items: center;
  align-content: stretch; */
  /* add flex-wrap: wrap; for mobile-first */
}

.app-logo {
  /* display: flex; */
  height: 20vmin;
  padding-bottom: 5vmin;
  margin-left: 10vmin;
  margin-bottom: 8vmin;
  /* padding-top: 30px;
  padding-right: 20px; */
  /* order: -1; */
  /* pointer-events: none; */
}

.crib_header {
  text-align: right;
  margin-right: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h3 {
  font-size: 1em;
  font-weight: lighter;
  margin-top: -1em;
}

.nav {
  display: flex;
  /* justify-content: right; */
  justify-content: space-evenly;
  align-items: center;
  height: 8vmin;
  padding-left: 100vmin;
  background-color: rgb(46, 41, 41);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* background-color: rgb(59, 54, 54); */
  /* border-bottom: solid 5px lime; */
  overflow: hidden;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  /* float: right; */
  text-align: center;
  padding: 10px 10px;
}

.nav a:hover {
  background-color: rgb(80, 77, 77);
  font-weight: bold;
  border-radius: 5px;
}

.nav a:active {
  background-color: turquoise;
}

.nav_link {
  overflow: hidden;
}

.app-link {
  margin-top: 1vmin;
}

.app-gecko {
  height: 7vmin;
  width: 7vmin;
  pointer-events: none;
  padding-top: 0.3vmin;
  opacity: 0.8;
}

/* .p_gecko {
  display: inline;
  color: white;
  padding-top: 5vmin;
} */

.body {
  display: flex;
  /* justify-content: space-between; */
}

.countdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vmin;
  justify-content: center;
}

.date {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  margin: 0 0.2em 1.2em 0;
}

.countdate {
  color: lightblue;
  /* font-weight: bold; */
  margin-top: 1em;
}

.countlabel {
  color: lightblue;
  font-weight: lighter;
  font-size: 0.9em;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 2em;
}

.box1 {
  flex-grow: 1;
  /* flex-basis: 0; */
  border: solid 2px;
  border-color: sandybrown;
  justify-content: center;
  padding: 15vmin;
  margin: 2vmin;
  /* overflow: scroll; */
  height: 4vh;
  width: 76vw;
}

.main {
  display: flex;
  flex-grow: 1;
}

.box2 {
  flex-grow: 1;
  /* flex-basis: 0; */
  border: solid 2px;
  border-color: turquoise;
  justify-content: center;
  padding: 15vmin;
  margin: 2vmin;
  overflow: scroll;
  height: 4vh;
  width: 70vw;
}

.box3 {
  flex-grow: 1;
  /* flex-basis: 1; */
  border: solid 2px;
  border-color: tomato;
  justify-content: center;
  padding: 15vmin;
  margin: 2vmin;
  overflow: scroll;
  height: 4vh;
  width: 70vw;
}

.box4 {
  flex-grow: 1;
  /* flex-basis: 0; */
  border: solid 2px;
  border-color: wheat;
  justify-content: center;
  padding: 15vmin;
  margin: 2vmin;
  overflow: scroll;
  height: 4vh;
  width: 76vw;
}

.crypto_terms {
  color: white;
  line-height: 5vmin;
}

.portfolio {
  color: white;
  line-height: 3vmin;
}

body {
  background-color: rgb(70, 67, 67);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

fieldset {
  color: white;
  border: solid 2px aqua;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  margin: 2em 30em 2em 3em;
  padding: 1em 2em 2em;
}

legend {
  font-size: 1.4em;
}

.input {
  margin: 0.5em 1em 0.5em 0;
  padding: 0.3em 0 0.3em 0.2em;
  border-radius: 5px;
}

.submit {
  margin-top: 2em;
  padding: 0.5em 2em;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
}

.footer {
  color: white;
  font-size: 1em;
  flex-shrink: 0;
  margin-top: 2em;
}

/* MEDIA QUERIES */

/* TABLET */

@media all and (min-width: 700px) {
}

/* DESKTOP */

@media all and (min-width: 1130px) {
}
